<nav class="navbar">
    <div class="logo">MyLogo</div>

    <div class="burger" id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <ul class="nav-links nav-item-container">
        <li class="nav-item"><a href="default/home.html.twig">Home</a></li>
        <li class="nav-item"><a href="default/about.html.twig">About</a></li>
        <li class="nav-item"><a href="default/services.html.twig">Services</a></li>
        <li class="nav-item"><a href="default/contact.html.twig">Contact</a></li>
    </ul>
</nav>
